body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --musica-gray: #2F2D2E;
  --musica-blue-light: #3DF4E2;
  --musica-blue-dark: #32C9B7;
  --musica-pink-light: #FF5F89;
  --musica-pink-dark: #FF2C5A;
  --white-color: #fbf7f5;
}

#navbar {
  background-color: var(--musica-gray);
  color: var(--musica-blue);
}

#register-page,
#login-page {
  position: absolute;
  top: 0;
  width: 100vw;
}

.position-relative {
  position: relative;
}

.duration-overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 3px;
  z-index: 1;
}

.card-spc {
  width: 22rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.card-title-spc {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.card-subtitle-spc {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 1rem;
}

.card-artists-spc {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.card-link-spc {
  display: inline-block;
  color: var(--musica-blue-dark);
  text-decoration: none;
}

.card-link-spc:hover {
  text-decoration: underline;
}

.audio-spc {
  width: 100%;
}

.btn-spc {
  background-color: var(--musica-blue-dark)!important;
  color: white!important;
  border-radius: .25rem;
  width: 100%;
}

#results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

@media (max-width: 768px) {
  #results {
    grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }
}

@media (max-width: 480px) {
  #results {
    grid-template-columns: 1fr; /* One column on very small screens */
  }
}

.btn-spc-dropdown {
  background-color: var(--musica-blue-dark)!important;
  color: white!important;
}

.btn-spc-dropdown:hover {
  background-color: var(--musica-blue-light)!important;
}

/* Remove default dropdown arrow */
.btn-spc-dropdown::after {
  display: none!important;
}

.btn-added {
  cursor: default!important;
}

.btn-not-added {
  cursor: pointer!important;
}

.no-drag,
img {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: .35rem;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.i-span > i {
  margin-right: .25rem;
}

#navbar > nav {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-home-left-margin {
  margin-left: 240px!important;
}

.loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--musica-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-border {
  width: 3rem!important;
  height: 3rem!important;
  color: var(--musica-pink-dark)!important;
}

::selection {
  background-color: var(--musica-pink-dark)!important;
  color: white!important;
}

#home-main {
  margin-left: 240px;
  width: calc(100vw - 240px);
  max-width: calc(100vw - 240px);
  margin-bottom: calc(1rem + 59.188px)!important;
  height: calc(100% - 51.812px - 1rem - 51.812px);
  background-color: var(--musica-gray);
  overflow-y: auto!important;
}

body, #root, .content {
  width: 100vw!important;
  height: 100vh!important;
  scrollbar-width: thin;
  scrollbar-color: var(--musica-pink-light) var(--musica-gray);
  overflow-x: hidden;
}

.musica-light-blue {
  color: var(--musica-blue-light);
}

.musica-dark-blue {
  color: var(--musica-blue-dark);
}

.musica-light-pink {
  color: var(--musica-pink-light);
}

.musica-dark-pink {
  color: var(--musica-pink-dark);
}

.musica-gray {
  color: var(--musica-gray);
}

.no-margin-bottom {
  margin-bottom: 0!important;
}

.white-color {
  color: var(--white-color)!important;
}

#audio-controls {
  width: calc(100vw - 240px);
  margin-left: 240px;
}

@media (min-width: 768px) {
  #sidenav-9 {
    width: 300px;
  }

  #home-main {
    margin-left: 300px;
    width: calc(100vw - 300px);
    max-width: calc(100vw - 300px);
  }

  .navbar-home-left-margin {
    margin-left: 300px!important;
  }

  #audio-controls {
    width: calc(100vw - 300px);
    margin-left: 300px;
  }
}

.playlist-song {
  padding: .5em;
  border-radius: 1rem;
}

.playlist-song:hover,
.playlist-song:hover h4,
.playlist-song:hover h5 {
  background-color: var(--musica-pink-light);
  color: #fbf7f5!important;
}

.song-title {
  width: 25rem;
}

.content {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: thin;
}

::-webkit-scrollbar-thumb {
  border-radius: 5rem!important;
}

::-webkit-scrollbar-track {
  background-color: var(--musica-gray);
}

.duration > i {
  display: none;
  cursor: pointer;
}

.playlist-song:hover .duration > i {
  display: inline;
}

#audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--musica-gray);
  color: var(--musica-blue-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#sidenav-9 {
  background-color: var(--musica-gray);
  color: var(--musica-blue-light);
}

#navbar > nav {
  background-color: var(--musica-gray)!important;
  color: var(--musica-blue-light);
}

#searchbox-navbar + label {
  color: var(--white-color)!important;
}

#searchbox-navbar {
  color: var(--musica-blue-light)!important;
  border-color: var(--musica-blue-light)!important;  
}

.sidenav-link:hover > i,
.sidenav-link:hover > span {
  color: var(--white-color)!important;
}

.sidenav-link:hover {
  background-color: var(--musica-pink-light)!important;
}

.ac-audio {
  visibility: hidden;
  position: fixed;
  top: 0;
}

.musica-btn {
  background-color: var(--musica-blue-dark)!important;
  color: var(--white-color)!important;
}

#volume-slider::-webkit-slider-thumb,
#song-position::-webkit-slider-thumb {
  background-color: var(--musica-blue-light)!important;
}

#volume-slider::-webkit-slider-runnable-track,
#song-position::-webkit-slider-runnable-track {
  background-color: var(--white-color)!important;
}

#volume-slider + .thumb::after {
  background-color: var(--musica-pink-light)!important;
}

#song-position + .thumb::after,
#song-position + .thumb > .thumb-value {
  visibility: hidden;
}
